header {
    width: 100%;
    background: #333;
    min-height: 130px;
}

.invisible {
    display: none;
}

.btn-cart {
    margin: 50px 100px 0 0;
    float: right;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    width: 100px;
    border-radius: 10px;
    border: transparent;
    color: #07070e;
    background-color: lightgreen;
}

.btn-cart:hover {
    color: #fff;
    background-color: darkorange;
}

.btn-cart:active {
    color: #07070e;
    background-color: lightgreen;
}

.cart-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    background: #aaa;
    width: 400px;
    min-height: 350px;
    position: absolute;
    top: 140px;
    right: 10px;
    border: 2px solid black;
}

.products {
    min-width: 400px;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    margin: 10px 10px 0 10px;
    width: 200px;
    text-align: center;
    background-color: #ddd;
    padding-bottom: 20px;
}

.buy-btn {
    color: #eeeeee;
    background: #353525;
    border-radius: 10px;
    border: transparent;
    width: 60%;
    height: 25px;
    outline: none;
}

.buy-btn:hover {
    color: #eeeeee;
    background: darkorange;
}

.buy-btn:active {
    color: #eeeeee;
    background: #353525;
}